asgiref==3.5.2
#backports.zoneinfo==0.2.1
dj-database-url==1.0.0
Django==4.1.1
django-allauth==0.52.0
django-extensions==3.2.1 
gunicorn==20.1.0
psycopg2-binary==2.9.5
sqlparse==0.4.3
djangorestframework==3.14.0

django-bootstrap-v5
pre-commit==3.1.0
## For audio transforms
#sox
#pydub
#audiomentations[extras]

## Should only be for dev, not prod deploys
#black==23.1.0
#nbstripout==0.6.1
#jupytext==v1.14.1
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability

python-dotenv>=0.21.0
whitenoise==6.4.0 # to serve static files in production