asgiref==3.5.2
#backports.zoneinfo==0.2.1
dj-database-url==1.0.0
Django==4.1.1
django-allauth==0.51.0
django-extensions==3.2.1 
gunicorn==20.1.0
psycopg2-binary==2.9.3
sqlparse==0.4.2

django-bootstrap-v5
pre-commit==2.20.0
## For audio transforms
#sox
#pydub
#audiomentations[extras]

# Should only be for dev, not prod deploys
black==22.6.0
nbstripout==0.6.0
jupytext==v1.14.1
