{% extends 'base.html' %}


{% block body-block %}
    {% trans "Admin management view" %}
    <table>
        <thead>
          <tr>
            <th>Annotator</th>
            <th>Email</th>
            <th>Experiment Name</th>
            <th>Number of Tasks Completed</th>
            <th>Percent of Gold Correct</th>
            <th>Interannotator Agreement</th>
            <th>ROI</th>
            <th>Lock</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
            <!-- Annotator column -->
            {% for annotator in annotators %}
                <td>
                    <p>{{annotator.name}}</p>
                </td>
            {% endfor %}

            <!-- Email column -->
            {% for annotator in annotators %}
                <td>
                    <p>{{ annotator.annotator_profile.email }}</p>
                </td>
            {% endfor %}

            <!-- Experiment name column -->
            {% for annotator in annotators %}
                <td>
                    <p>{% trans "holder" %}</p>
                </td>
            {% endfor %}

            <!-- Number of tasks completed column -->
            {% for annotator in annotators %}
                <td>
                    <p>{% trans "holder" %}</p>
                </td>
            {% endfor %}

            <!-- Percent of Gold correct column -->
            {% for annotator in annotators %}
                <td>
                    <p>{% trans "holder" %}</p>
                </td>
            {% endfor %}

            <!-- Interannotator agreement -->
            {% for annotator in annotators %}
                <td>
                    <p>x</p>
                </td>
            {% endfor %}

            <!-- ROI column -->
            {% for annotator in annotators %}
                <td>
                    <p>{% trans "holder" %}</p>
                </td>
            {% endfor %}

            <!-- Lock column -->
            {% for annotator in annotators %}
                {% if annotator.is_locked %}
                    <p class="bg-gray">True</p>
                {% else %}
                    <p>False</p>
                {% endif %}
            {% endfor %}
            
            <!-- Delete column -->
            {% for annotator in annotators %}
                <td>
                    <p>
                        <a href="{% url 'perform-delete' request.user.id %}">
                            {% trans "delete user" %}
                        </a>
                    </p>
                </td>
            {% endfor %}
        </tbody>
      </table>
      
{% endblock body-block %}