{% extends 'base.html' %}

{% block body-block %}

<div class="mt-5 text-center">
    <h1>Admin View Dasaboard</h1>
    <ul>
        {% for experiment in experiments %}
            <li hx-get="{% url 'admin_experiment' experiment_id=experiment.id%}" hx-target="#body">
                {{experiment.name}}
            </li>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Batch</th>
                        <th scope="col">Is gold</th>
                    </tr>
                </thead>
                <tbody>
                    {% for batch in experiment.batches %}
                    <tr>
                        <td>{{batch.id}}</td>
                        <td>{{batch.is_gold}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
        <ul>
    <h5>Go to admin panel: <a href="/admin">admin</a></h5>
</div>
{% endblock %}
