{% extends 'base.html' %}

{% block body-block %}

<div class="mt-5">
    <h1>Admin View Dashboard</h1>
    <ul>
        {% for experiment in experiments %}
            <li class="text-align-left text-bold" hx-get="{% url 'admin_experiment' experiment_id=experiment.id%}" hx-target="#body">
                {{experiment.name}}
            </li>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Batch</th>
                        <th scope="col">Is gold</th>
                    </tr>
                </thead>
                <tbody>
                    {% for batch in batches %}
                        {% if batch.experiment.id == experiment.id%}
                            <tr>
                                <td>{{batch.id}}</td>
                                <td>{{batch.is_gold}}</td>
                            </tr>
                        {% endif %}
                    
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
        <ul>
    <h5>Go to admin panel: <a href="/admin">admin</a></h5>
</div>
{% endblock %}
  