{% extends 'base.html' %}

{% block body-block %}

<div class="mt-5">
    <div class="mb-5 text-center">
        <h1>Admin View Dashboard</h1>
        <p>This page displays all available experiment with index and shows their
            respective batches under each experiment in a table</p>
    </div>
    <ol class="">
        {% for experiment in experiments %}
        <li class="text-align-left text-bold h4 " hx-get="{% url 'admin_experiment' experiment_id=experiment.id%}" 
        hx-target="#body">
            <h4 class="text-primary needpoint">{{experiment.name}}</h4>
        </li>
    </ol>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Batch ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Is gold</th>
                    </tr>
                </thead>
                <tbody>
                    {% for batch in batches %}
                        {% if batch.experiment.id == experiment.id%}
                            <tr>
                                <td>{{batch.id}}</td>
                                <td>{{batch.name}}</td>
                                <td>{{batch.created_at}}</td>
                                <td hx-post="{% url "toggle-is-gold" batch.id%}" hx-swap="innerHTML" 
                                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-confirm="Are you sure you want to toggle is_gold?">
                                {% if batch.is_gold %}
                                    <p class="text-success needpoint">{{batch.is_gold}}</p>
                                {% else %}
                                    <p class="text-warning needpoint">{{batch.is_gold}}</p>
                                {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    <h5>Go to admin panel: <a href="/admin">admin</a></h5>
</div>
{% endblock %}
  