{% extends 'base.html' %}


{% block body-block %}
    Admin management view"
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Annotator</th>
            <th scope="col">Email</th>
            <th scope="col">Experiment Name</th>
            <th scope="col">Number of Tasks Completed</th>
            <th scope="col">Percent of Gold Correct</th>
            <th scope="col">Interannotator Agreement</th>
            <th scope="col">ROI</th>
            <th scope="col">Lock</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            <!-- Annotator column -->
            {% for annotator in annotators %}
                <td>
                    <p>{{annotator.name}}</p>
                </td>
            {% endfor %}

            <!-- Email column -->
            {% for annotator in annotators %}
                <td>
                    <p>{{ annotator.annotator_profile.email }}</p>
                </td>
            {% endfor %}

            <!-- Experiment name column -->
            {% for annotator in annotators %}
                <td>
                    <p>no experiment</p>
                </td>
            {% endfor %}

            <!-- Number of tasks completed column -->
            {% for annotator in annotators %}
                {% with user_id=annotator.pk %}
                    {% with no_task=get_no_task user_id  %}
                        <td>
                            <p>{{no_task}}</p>
                        </td>
                    {% endwith %}
                {% endwith %}
            {% endfor %}
            
            <!-- Percent of Gold correct column -->
            {% for annotator in annotators %}
                <td>
                    {% with user_id = annotator.pk  %}
                        {% with per_gold=get_per_gold(user_id) %}
                            <p>{{per_gold}}</p>
                        {% endwith %}
                    {% endwith %}
                </td>
            {% endfor %}

            <!-- Interannotator agreement -->
            {% for annotator in annotators %}
                <td>
                    <p>no data</p>
                </td>
            {% endfor %}

            <!-- ROI column -->
            {% for annotator in annotators %}
                <td>
                    {% with user_id=annotator.pk  %}
                        {% with roi=get_roi(user_id)  %}
                            {% if roi %}
                                <p>{{roi}}</p>
                            {% else %}
                                <p>No data</p>
                            {% endif %}
                        {% endwith %}
                    {% endwith %}
                </td>
            {% endfor %}

            <!-- Lock column -->
            {% for annotator in annotators %}
                {% if annotator.is_locked %}
                    <p class="bg-gray">Unlock</p>
                {% else %}
                    <p>Lock</p>
                {% endif %}
            {% endfor %}
            
            <!-- Delete column -->
            {% for annotator in annotators %}
                <td>
                    <p hx-trigger="click" hx-post="{% url 'perform-delete' request.user.id %}" hx-swap="innerHTML">
                        Delete User
                    </p>
                </td>
            {% endfor %}
            </tr>
        </tbody>
      </table>
      
{% endblock body-block %}