{% extends 'base.html' %}

{% block css-block %}
<style>
  pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
  }
</style>
{% endblock %}

{% block body-block %}

<div class="container mt-5">
  <div class="row">
    <div class="col"></div>
    <div class="col-8">
      <div class="text-center">
        <h3>API Token</h3>
        <code>{{ token }}</code>
      </div>

      <h4 class="mt-3">Admin API</h4>
      <p>
        Use following code snippet to make request to admin api endpoint.
      </p>
      <pre>
        <code>
import requests
headers = {
    "Authorization": "Token {{ token.key }}"
    }
url = "{{ admin_api }}"
response = requests.get(url, headers=headers)
print(response.json())
print(response.status_code)
        </code>
      </pre>

      <div class="mt-3">
        <h4>Annotation API</h4>
        <p>Fetches all entries of annotation table</p>
        <pre>
          <code>
import requests

headers = {
    "Authorization": "Token {{ token.key }}"
    }
annotation_api = "{{ annotation_api }}"
response = requests.get(annotation_api, headers=headers)
print(response.json())
print(response.status_code)
          </code>
        </pre>
      </div>

      <div class="mt-3">
        <h4>Lock Users API</h4>
        <p>Lock users based on posted list containing user ids</p>
        <pre>
          <code>
import requests

headers = {
    "Authorization": "Token {{ token.key }}"
    }
# list of user ids
user_ids = [10, 5]
json_payload = {
    "users": user_ids
    }
lock_users_api = "{{ lock_users_api }}"
response = requests.post(lock_users_api, headers=headers, json=json_payload)
print(response.json())
print(response.status_code)
          </code>
        </pre>
      </div>

    </div>
    <div class="col"></div>
  </div>
</div>

{% endblock %}