{% extends 'base.html' %}

{% block css-block %}
<style>
  
  pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
  }
</style>
{% endblock %}

{% block body-block %}

<div class="container mt-5">
  <div class="row">
    <div class="col"></div>
    <div class="col-8">
      <div class="text-center">
        <h3>API Token</h3>
        <code>{{ token }}</code>
      </div>

      <h4 class="mt-3">Admin API</h4>
      <p>
        Use following code snippet to make request to admin api endpoint.
      </p>
      <p>Method allowed <code>GET</code></p>
      <pre>
        <code>
import requests
headers = {
    "Authorization":admin_api_url "Token {{ token.key }}"
    }
url = "{{ admin_api_url }}"
response = requests.get(url, headers=headers)
print(response.json())
print(response.status_code)
        </code>
      </pre>

      <div class="mt-3">
        <h4>Annotation API</h4>
        <p>Fetches all entries of annotation table</p>
        <p>Method allowed <code>GET</code></p>
        <pre>
          <code>
import requests

headers = {
    "Authorization": "Token {{ token.key }}"
    }
annotation_api = "{{ annotation_api }}"
response = requests.get(annotation_api, headers=headers)
# print(response.json())
# print(response.status_code)
          </code>
        </pre>
      </div>

      <div class="mt-3">
        <h4>Lock Users API</h4>
        <p>Lock users based on posted list containing user ids</p>
        <p>Method allowed <code>GET</code></p>
        <pre>
          <code>
import requests

headers = {
    "Authorization": "Token {{ token.key }}"
    }
# list of user ids
user_ids = [10, 5]
json_payload = {
    "users": user_ids
    }
lock_users_api = "{{ lock_users_api }}"
response = requests.post(lock_users_api, headers=headers, json=json_payload)
print(response.json())
print(response.status_code)
          </code>
        </pre>
      </div>

      <div class="mt-3">
        <h4>Batch Tasks API</h4>
        <p>
          Creates batch and related tasks, posted batch can also be set to 
          current batch gold and current batch eval.<br>
        </p>
        <p>Method allowed <code>POST</code></p>
        <p>
          For setting the batch as current batch eval set
          <code>"set_to_current_batch_eval": True</code> in payload.<br>
          Note that only simple batch can be set to current_batch_eval.
        </p>
        <p>
          For setting the batch as current batch gold set
          <code>"set_to_current_batch_gold": True</code> in payload.<br>
          Note that only gold batch can be set to current_batch_gold.
        </p>
        <pre>
          <code>
import requests

headers = {
    "Authorization": "Token {{ token.key }}"
    }
batch_task_api = "{{ batch_tasks_api }}"

payload = {
    "set_to_current_batch_eval": True,
    "set_to_current_batch_gold": False,
    "is_gold": False,
    "notes": "Test simple batch tasks creation with api",
    "tasks":[
        # list containing tasks
        {
            "reference_url": "https://www.test-api.com",
            "transform_url": "https://www.test-api.com",
            "transform_metadata": {}
        },
        {
            "reference_url": "https://www.test-api1.com",
            "transform_url": "https://www.test-api1.com",
            "transform_metadata": {}
        }
    ]
}

response = requests.post(batch_task_api, headers=headers, json=payload)
print(response.json())
print(response.status_code)
          </code>
        </pre>
      </div>

    </div>
    <div class="col"></div>
  </div>
</div>

{% endblock %}
