{% if not task %}
<h3>Come back later for more work.</h3>
{% else %}
<h3>Task</h3>
<form method="POST" id="my-form">
  {% csrf_token %}
  <input type="hidden" value="{{ task.pk }}" name="taskPk">
  <input type="hidden" value="{{ batch_id }}" name="batch_id">
  <input type="hidden" value="{{ task_list }}" name="tasklist">
  <input type="hidden" value="{{ task_presentation }}" name="taskPresentation">
  <h4>ID: {{task.pk}}</h4>
  <div>
    {% for audio in audios %}

    {% if forloop.counter == 1 %}
    <div>

      <audio controls src="{{ audio }}" class="mt-3">
        Your browser does not support the
        <code>audio</code> element.
      </audio>
    </div>

    {% else %}
    <audio controls src="{{ audio }}" class="mt-3">
      Your browser does not support the
      <code>audio</code> element.
    </audio>

    {% endif %}


    {% endfor %}
  </div>

  <div class="mt-2 d-flex justify-content-around">
    {% for annotation in task_annotations %}
    <div class="form-check form-check-inline mx-10">
      <input class="form-check-input" type="radio" id="type1" name="annotationOption"
        value="{{ annotation.annotation }}">
    </div>
    {% endfor %}

  </div>

  <button class="btn btn-primary mt-3" hx-post="{% url 'create_annotation' %}" hx-target="#form-div">Submit</button>

</form>

{% endif %}