{% extends 'base.html' %}

{% block body-block %}

<div class="container mt-5">
  <div class="row text-center">
    <div class="col"></div>
    <div class="col-6">
      {% if not task %}
      <h3>Come back later for more work.</h3>
      {% else %}
      
      <div id="form-div">
        <h3>Task</h3>
        <form method="POST" id="my-form">
          {% csrf_token %}
          <input type="hidden" value="{{ task.pk }}" name="taskPk">
          <input type="hidden" value="{{ batch_id }}" name="batch_id">
          <input type="hidden" value="{{ task_list }}" name="tasklist">
          <input type="hidden" value="{{ task_presentation }}" name="taskPresentation">
          <h4>ID: {{task.pk}}</h4>
          <audio controls src="{{ reference_url }}" class="mt-3">
            Your browser does not support the
            <code>audio</code> element.
          </audio>
          <audio controls src="{{ transform_url }}" class="mt-3">
            Your browser does not support the
            <code>audio</code> element.
          </audio>

          <div class="mt-2">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="type1" name="annotationOption" value="XXY" checked>
              <label class="form-check-label" for="type1">XXY</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="type2" name="annotationOption" value="XYX">
              <label class="form-check-label" for="type2">XYX</label>
            </div>
          </div>

          <button class="btn btn-primary mt-3" hx-post="{% url 'create_annotation' %}" hx-target="#form-div">Submit</button>

        </form>
      </div>
      {% endif %}
    </div>
    <div class="col"></div>
  </div>
</div>

{% endblock %}