[
    {
        "model":"sites.site",
        "pk":1,
        "fields":{
            "domain":"audiodiscrimination.com",
            "name":"audiodiscrimination.com"
        }
    },
    {
        "model":"sites.site",
        "pk":2,
        "fields":{
            "domain":"127.0.0.1:8000",
            "name":"127.0.0.1:8000"
        }
    }
]