{% load static %}
<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">
        <img src="{% static 'images/audio-discrimination-crowdsource-logo.png' %}" alt="Logo" width="50" height="50">
        <p>Audio Discrimination</p>

    </div>
    {% if request.user.is_superuser %}
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action 
        list-group-item-light p-3" href="{% url 'admin_dashboard' %}">
        Dashboard</a>
        <a class="list-group-item list-group-item-action 
        list-group-item-light p-3" href="{% url 'admin-management' %}">
        User Management</a>
        <a class="list-group-item list-group-item-action 
        list-group-item-light p-3" href="{% url 'admin-batch-submit' %}">
        Batch Submit</a>
        <a class="list-group-item list-group-item-action 
        list-group-item-light p-3" href="{% url 'create-experiment' %}">
        Create Experiment</a>
        
        <a class="list-group-item list-group-item-action 
        list-group-item-light p-3" href="{% url "experiment-type-creation" %}">
        Experiment Type Mgt</a>
        <a class="list-group-item list-group-item-action 
        list-group-item-light p-3" href="{% url "admin-quick-guide" %}">
        Quickstart</a>
    </div>
    {% endif %}
    {% if not request.user.is_authenticated %}
    <div>
        <a class="list-group-item list-group-item-action 
        list-group-item-light p-3" href="{% url 'temporary_login_template' %}">
        Temporary Login</a>
    </div>
    {% endif %}
</div>