{% load static %}
<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">
        <img src="{% static 'images/audio-discrimination-crowdsource-logo.png' %}" alt="Logo" width="50" height="50">
        <p>Audio Discrimination</p>

    </div>
    {% if request.user.is_superuser %}
    <div class="list-group list-group-flush">
        <p class="list-group-item list-group-item-action list-group-item-light p-3" 
        hx-get="{% url 'admin_dashboard' %}" hx-target="#body" hx-swap="innerHTML" 
        hx-boost="true" hx-push-url="{% url 'admin_dashboard' %}">
        Dashboard</p>
        <p class="list-group-item list-group-item-action list-group-item-light p-3" 
        hx-get="{% url 'admin-management' %}" hx-target="#body" hx-swap="innerHTML" 
        hx-boost="true" hx-push-url="{% url 'admin-management' %}">
        User Management</p>
        <p class="list-group-item list-group-item-action list-group-item-light p-3" 
        hx-get="{% url 'admin-batch-submit' %}" hx-target="#body" hx-swap="innerHTML"
        hx-boost="true" hx-push-url="admin-batch-submit">
        Batch Submit</p>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" 
        href="{% url 'create-experiment' %}">
        Create Experiment</a>
        
        <p class="list-group-item list-group-item-action list-group-item-light p-3" 
        hx-get="{% url "experiment-type-creation" %}" hx-target="#body" hx-swap="innerHTML" 
        hx-boost="true" hx-push-url="{% url 'experiment-type-creation' %}">
        Experiment Type Mgt</p>
        <p class="list-group-item list-group-item-action list-group-item-light p-3" 
        hx-get="{% url "admin-quick-guide" %}" hx-target="#body" hx-swap="innerHTML" 
        hx-boost="true" hx-push-url="{% url 'admin-quick-guide' %}">
        Quickstart</p>
    </div>
    {% endif %}
    {% if not request.user.is_authenticated %}
    <div>
        <p class="list-group-item list-group-item-action list-group-item-light p-3" 
        hx-get="{% url 'temporary_login_template' %}" hx-target="innerHTML" hx-swap="innerHTML" 
        hx-boost="true" hx-push-url="{% url 'temporary_login_template' %}">
        Temporary Login</p>
    </div>
    {% endif %}
</div>